@import "../../SCSS/variables";

.container-nav {
    padding: .5em;
}

.navigation {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f4858;

    .icons {
        display: flex;
        gap: .2em;
        color: $--main_panel_color;
        font-size: 2em;
        padding-left: 15px;

        a {
            display: flex;
            color: $--main_panel_color;
            align-self: center;
            transform: rotate(0turn);
            transition: transform .3s;

            &:hover {
                transform: rotate(.5turn);
                transition: transform .3s;
            }
        }
    }

    .mobile-menu-icon {
        display: none;
        padding-right: 15px;

        .hamburger {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            color: $--main_panel_color; 
        }

    }

    .link-list {
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding: 0;
        padding-right: 15px;

        .logo {
            transform: scale(1, 1);
            transition: transform .3s;

            &:hover {
                transform: scale(1.1, 1.1);
                transition: transform .3s;
            }
        }

        li {
            list-style-type: none;
            align-self: center;

            a {
                text-decoration: none;
                color: $--main_panel_color;
                font-weight: 600;
                font-family: $--second-font;
                transition: color .3s;

                &:hover {
                    color: darken($color: $--main_panel_color, $amount: 15);
                    transition: color .3s;
                }
            }
        }
    }
}

@media ( max-width: 640px ) {
    .navigation {
        position: relative;

        .mobile-menu-icon {
            display: block;
        }

        .link-list {
            flex-direction: column;
            position: absolute;
            width: 100%;
            top: -100px;
            left: -110%;
            opacity: 0;
            padding: 0;
            gap: 0;
            background-color: $--second_panel_color;
            transition: all .5s;

            li {
                width: 100%;
                height: 55px;
                border-bottom: 1px solid $--main_panel_color;

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                }
            }

            .logo {
                display: none;
            }
        }
    }

}

.active {
    top: 35px !important;
    left: 0 !important;
    z-index: 1;
    opacity: 1 !important;
    transition: all .5s;
}