@import "../../SCSS/mixin";
@import "../../SCSS/variables";

.method {

    .text-header {

        @include layout-header;

        h2 {
            @include text-header;
        }

        .underline {
            @include underline
        }

        margin-bottom: 1.5em;
    }

    .method-container {
        display: flex;
        flex-flow: row wrap;

        ul {
            margin: 0;
            li {
                font-weight: 600;
                padding: .25em 0;
                list-style-type: square;
            }
        }
    }
}
