@import "./SCSS/variables";

body {
  background-color: $--my_backgroind;
  color: $--second_fond_color;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.main-container {
  width: 75%;
  padding: 0 20px;
  background-color: $--main_container_color;
}


@media ( max-width: 580px ) {

  .main-container {
    width: 100%;
  }
}