$--my_backgroind: #2c647156;
$--main_panel_color: #74c059;
$--second_panel_color: #2f4858;
$--second_fond_color: #000;
$--main_container_color: #ffffff28;



//Fonts
$--second-font: 'Lato', sans-serif;